.container {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, .2);
    width: 840px;
    margin: -40px auto 0;
    padding: 80px;
    border-radius: 8px;
}